{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Plataforma Recomendacion Cursos</h1>
   </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <form action="index2" method="post">
                {% csrf_token %}
                <table>
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
      </form> 
      <h3><span class="glyphicon glyphicon-info-sign"></span> RESULTADOS COURSERA</h3>
      
        {% if listado %}
           There are {{ listado|length }} records:
           {% for e in listado %}
              <h1>Titulo: {{e.Titulo}}</h1>
              <p>Organizacion: {{e.Organizacion}}</p>
              <p>Tipo: {{e.Tipo}}</p>
              <p>Rating: {{e.Rating}}</p>
              <p>Dificultad: {{e.Dificultad }}</p>
           {% endfor %}
        {% else %}
           No hay cursos
        {% endif %}   
        
       <h3><span class="glyphicon glyphicon-info-sign"></span> RESULTADOS FORMATE.PE</h3>
      
        {% if listado2 %}
           There are {{ listado2|length }} records:
           {% for e in listado2 %}
              <h1>Titulo: {{e.Titulo}}</h1>
              <p>Descripcion: {{e.Descripcion}}</p>
              <p>Link: {{e.Link}}</p>
           {% endfor %}
        {% else %}
           No hay cursos
        {% endif %}     
        
        <h3><span class="glyphicon glyphicon-info-sign"></span> RESULTADOS CREHANA</h3>
      
        {% if listado3 %}
           There are {{ listado3|length }} records:
           {% for e in listado3 %}
              <h1>Titulo: {{e.Titulo}}</h1>
           {% endfor %}
        {% else %}
           No hay cursos
        {% endif %}        
    
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
{% endblock %}
