{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Plataforma Recomendacion Cursos</h1>
    <p>This is a sample Python application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Getting Started with Python</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <form action="index2" method="post">
                {% csrf_token %}
                <table>
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
      </form> 
      <h3><span class="glyphicon glyphicon-info-sign"></span> RESULTADOS COURSERA</h3>
      
        {% if listado %}
           There are {{ listado|length }} records:
           {% for e in listado %}
              <h1>Titulo: {{e.Titulo}}</h1>
              <p>Organizacion: {{e.Organizacion}}</p>
              <p>Tipo: {{e.Tipo}}</p>
              <p>Rating: {{e.Rating}}</p>
              <p>Dificultad: {{e.Dificultad }}</p>
           {% endfor %}
        {% else %}
           No hay cursos
        {% endif %}        
    
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
{% endblock %}
